.notesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 10px 0 0 20px;
}

.addNote {
  border: 2px dashed #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: box-shadow   0.1s linear !important;
}

.addNote:hover {
  box-shadow: 5px 5px 10px rgb(0, 0, 0);
}

.stickyNote {
  width: 350px;
  height: auto;
  min-height: 200px;
  margin-right: 100px;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column; 
  cursor: pointer;
  transition: box-shadow 0.1s, transform 0.2s !important;
}

.notesContainer > :nth-child(even){
  background-color: #cfc ;
}

.notesContainer > :nth-child(3n) {
  background-color: #ccf ;
}

.notesContainer > :nth-child(odd):hover {
  transform: rotate(5deg) !important;
}
.notesContainer > :nth-child(even):hover {
  transform: rotate(-3deg) !important;
}

.stickyNote:hover {
  box-shadow: 5px 5px 10px rgb(0, 0, 0);
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  text-transform: capitalize;
  word-wrap: break-word;
  transform: translateY(-30px);
}

.content {
  word-wrap: break-word;
  font-family: 'Reenie Beanie';
  font-size: 2rem;
  line-height: 25px;
  transform: translateY(-30px);
}

.containerTitle {
  display: flex;
  align-items: center;
  margin-top: 3.5%;
  gap: 10px;
}

.buttons {
  margin: 0;
  padding: 0;
  position: relative;
  left: 85%;
  bottom: 16%;
  background-color: #880b62;
  width: 25%;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  border-radius: 40px;
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.7));
  transition: filter 0.1s linear;
}

.buttons:hover {
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 1));
}

.buttons button:hover{
  color: #fff;
}

.filterInput{
  background-color: #fff;
  border-radius: 4px;
}